<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/carts">Carritos</a></li>
        <li><a href="/api/users">Lista de usuarios</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<div>
        <table class="table table-carts">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Editar cantidad</th>
                    <th scope="col">Eliminar/Editar</th>
                </tr>
            </thead>
            <tbody id="tableProductsCarts">
                {{#if products}}  
                    {{#each products}}
                    {{#if @first}}
                        <h3>
                            ID Carrito: {{this.cartID}}
                        </h3>
                    {{/if}} 
                    <tr data-product-id="{{this._id}}">
                        <th scope="row">{{this._id}}</th>
                        <th>{{this.title}}</th>
                        <td>{{this.quantity}}</td>
                        <td class="edit-quantity">
                            <input type="number" name="quantity" value="{{this.quantity}}">
                            <button class="btn-carts">🖋️</button>
                        </td>
                        <td>
                            <button class="btn-carts delete-prod-cart" id="{{this._id}}">❌</button>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>