<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/users">Lista de usuarios</a></li>
        <li><a href="/products">Tienda</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<div>
    <h2 class="cartsManager-container">CartsManager</h2>
        <table class="table table-carts">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Cantidad de productos</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="tableCarts">
                {{#each carts}}
                    <tr data-product-id="{{cartID}}">
                        <th scope="row">{{cartID}}</th>
                        <td>{{userCart}}</td>
                        <td>{{cartLength}}</td>
                        <td class="btn-config">
                            <button class="delete-cart btn-carts" id="{{cartID}}">❌</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartsManager.js"></script>