<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        <li><a href="/products"><button>Tienda</button></a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<div class="carts-container">
    <h1>Carrito:</h1>
    <table class="table-carts">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio total</th>
            </tr>
        </thead>
        <tbody id="tablaCarts">
            {{#if products}}  
                {{#each products}}
                    <tr data-product-id="{{this._id}}">
                        <th scope="row">{{this.title}}</th>
                        <td>${{this.price}}</td>
                        <td>{{this.quantity}}</td>
                        <td>${{this.totalPrice}}</td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
        <tfoot>
            <td colspan="2"></td>
            <td>Total de compra:</td>
            <td>${{totalCompra}}</td>
        </tfoot>
    </table>
    <form action="/api/carts/{{this.cartId}}/purchase" method="post">
        <input type="submit" value="Finalizar compra">
    </form>
</div>