<div class="container">
    <a href="/">
        <button>Home</button>
    </a>
    <a href="/api/realtimeproducts">
        <button>Ir a Products Manager</button>
    </a>
    <a href="/carts/654d2cf1fdc586a57eb6a939">
        <button>Carrito</button>
    </a>
    <h1 class="homeTitle">Lista de productos en MongoDB 🙌</h1>
    <div class="filter-prod">
        <h4>Filtros:</h4>
        <select class="form-select" aria-label="Default select example" id="category-filter-views">
            <option selected >Categoria</option>
            <option value="remeras">Remeras</option>
            <option value="camisas">Camisas</option>
            <option value="buzos">Buzos</option>
            <option value="camperas">Camperas</option>
            <option value="jeans">Jeans</option>
            <option value="bermudas">Bermudas</option>
            <option value="joggins">Joggins</option>
            <option value="joggers">Joggers</option>
            <option value="mallas">Mallas</option>
            <option value="accesorios">Accesorios</option>
        </select>
        <button class="contrast outline btnPrice" title="Ordena los productos por su precio" id="btn-price-views"><b>Precio</b></button>
    </div>
    <div class="prodContainer" id="prod-container">
        {{#if payload}}    
            {{#each payload}}
                <div class="card">
                    <img src="/img/x.png" alt="img-prod">
                    <h4 class="title-prod">{{this.title}}</h4>
                    <p class="price-prod">${{this.price}}</p>
                    <button class="add-to-cart" data-product-id="{{this._id}}" >Añadir</button>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="navegationPage">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link contrast outline" href="{{this.prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>⬅️</a></li>
                <li class="page-item">{{this.page}}</li>
                <li class="page-item"><a class="page-link contrast outline" href="{{this.nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>➡️</a></li>
            </ul>   
        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>