<div class="container">
    <h1 class="homeTitle">Lista de productos en MongoDB 🙌</h1>
    <div class="tableProds">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {{#if products}}    
                    {{#each products}}
                        <tr>
                            <th scope="row">{{_id}}</th>
                            <td>{{title}}</td>
                            <td>{{description}}</td>
                            <td>${{price}}</td>
                            <td>{{code}}</td>
                        </tr>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>