<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        {{#if isAdmin}}
            <li><a href="/api/products">ProductsManager</a></li>
            <li><a href="/api/carts">CartsManager</a></li>
            <li><a href="/products">Tienda</a></li>
        {{else}}
            <li><a href="/products">Tienda</a></li>
        {{/if}}
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<article>
    <header>
        <h1>Datos del usuario:</h1>
    </header>
    <p>Nombre y apellido: {{user.fullName}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Permisos: {{user.role}}</p>
</article>
<form action="/api/users/{{user.id}}/documents" method="POST" >

    <label for="documentType">Elegí el documento a cargar:</label>
    <select id="documentType" name="documentType">
        <option name="documentType" value="profiles">Profile photo</option>
        <option name="documentType" value="products">Products photo</option>
        <option name="documentType" value="documents">DNI</option>
        <option name="documentType" value="documents">Home adress</option>
        <option name="documentType" value="documents">Account status</option>
    </select>
    <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png, .pdf">

    <button type="submit">Enviar</button>
</form>
<a href="#">
    <form method="POST" action="/api/users/premium/{{user.id}}">
        <button type="submit">Cambiar rol de usuario</button>
    </form>
</a>