<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        {{#if isAdmin}}
            <li><a href="/api/products">Productos</a></li>
            <li><a href="/api/carts">Carritos</a></li>
            <li><a href="/api/users">Lista de usuarios</a></li>
            <li><a href="/products">Tienda</a></li>
        {{else}}
            <li><a href="/products">Tienda</a></li>
        {{/if}}
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<article>
    <header>
        <h1>Datos del usuario:</h1>
    </header>
    <p>Nombre y apellido: {{user.fullName}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Tipo de cuenta: {{user.role}}</p>
    <p>Documentos cargados:
    {{#if user.documents}}
        <ul>
            {{#each user.documents}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay documentos cargados.</p>
    {{/if}}
    </p>
</article>
<form action="/api/users/{{user.id}}/documents" method="POST" enctype="multipart/form-data" >
    <label for="documentType">Elegí el documento a cargar:</label>
    <select id="documentType" name="documentType">
        <option value="DNI">DNI</option>s
        <option value="HomeAddress">Home address</option>
        <option value="AccountStatus">Account status</option>
    </select>
    <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png, .pdf">
    <button type="submit" id="sendDocuments">Enviar</button>
    <p>Al cargar un documento deberas volver a iniciar sesión para ver los cambios</p>
</form>
