<div>
    <h2 class="realTimeTitle">Productos en tiempo real ⏳</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>${{price}}</td>
                        <td>{{code}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</div>
<div class="addProduct">
    <h3>➕ Agregar producto:</h3>
    <form action="" method="POST">
        <input required type="text" name="title" placeholder="Titulo">
        <input required type="text" name="description" placeholder="Descripcion">
        <input required type="text" name="code" placeholder="Codigo">
        <input required type="number" name="price" placeholder="Precio">
        <input required type="number" name="stock" placeholder="Stock">
        <input required type="submit" value="Enviar">
    </form>
</div>
<div class="deleteProduct">
    <h3>❌ Eliminar producto: </h3>
    <form action="">
        <input type="text" placeholder="ID del producto a eliminar" required>
        <input required type="submit" value="Enviar">
    </form>
</div>
<script src="/js/realTime.js"></script>