<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/carts">Carritos</a></li>
        <li><a href="/api/users">Lista de usuarios</a></li>
        <li><a href="/products">Tienda</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<div>
    <h2>Configuracion de usuario: {{userName}}  {{userLastName}}</h2>
</div>
<section>
    <h4>Modificar rol: {{userRole}}</h4>
    <table>
        <th scope="col">
            <select id="user-role-filter" class="form-select" aria-label="Default select example">
                <option selected >Selecciona una opcion</option>
                <option value="user">Usuario</option>
                <option value="premium">Premium</option>
                <option value="admin">Administrador</option>
            </select>
        </th>
        <th>
            <button data-user-id="{{userID}}" class="userEdit">Confirmar</button>
        </th>                
    </table>
</section>             
<section>
        <h4>Eliminar usuario</h4>
        <button data-user-id="{{userID}}" class="btn-user-delete">Eliminar usuario</button>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/userEdit.js"></script>